<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daystar Daycare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">DAYSTAR DAYCARE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/views/index.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/about.html">ABOUT</a>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  REGISTRATION
                </a>
                <ul class="dropdown-menu">
                  <!-- <li><a class="dropdown-item" href="/views/registerbaby.html">Register Baby</a></li> -->
                  <li><a class="dropdown-item" href="/views/sitterregistration.html">BabySitter Registration</a></li>
                  <li><a class="dropdown-item" href="/views/user-login.html">Administrator</a></li>
                  <li><a class="dropdown-item" href="/views/payments.html">Payment for registerbaby</a></li>
                  <li><a class="dropdown-item" href="/views/procurement.html">Procurement</a></li> 
                  <li><a class="dropdown-item" href="/views/checkinandcheckout.html">CheckinandCheckout</a></li>

                </ul>
              </li>
              
            </ul>
            <div class="d-flex" role="search">
              <button class="btn btn-outline-success" type="submit" style="margin-right: 40px;">DONATE TO US</button>
            </div>
            <div class="social-icons">
              <a href="#" class="icon facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="icon twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="icon instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" class="icon linkedin"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="icon youtube"><i class="fab fa-youtube"></i></a>
              
            </div>
          </div>
        </div>
      </nav>
  
    <header class="container mt-3" style="border-style: none;">
<div class="container mt-3" style="border-style: none; width: 100%; font-size: 50px;">
    <h1><b>WELCOME TO DAYSTAR DAYCARE</b></h1>
    <P class="motto" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: blue;">"Your Child's Home Away from Home"</P>
</div>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="width: 100%;">
    <div class="carousel-item active">
      <img src="/Daycare-App/images/ABC-Kidcare-Logo-small@2x-1.png" class="d-block w-100" alt="letters">
    </div>
    <div class="carousel-item">
      <img src="/Daycare-App/images/building.jpeg" class="d-block w-100" alt="building">
    </div>
    <div class="carousel-item">
      <img src="/Daycare-App/images/images.webp" class="d-block w-100" alt="kids">
    </div>
    <div class="carousel-item">
      <img src="/Daycare-App/images/johannesburg-south-africa-june-young-african-kids-small-creche-daycare-preschool-young-african-kids-small-creche-daycare-181063826.webp" class="d-block w-100" alt="babies">
    </div>
    <div class="carousel-item">
      <img src="/Daycare-App/images/school-playground.jpeg" class="d-block w-100" alt="school-playground">
    </div>
    <div class="carousel-item">
      <img src="/Daycare-App/images/teacher.webp" class="d-block w-100" alt="teacher">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </header>

    <section class="container mt-3" style="border: 5px solid red;">
      <h1>JOIN OUR MAILING LIST.</h1>
      <P>Be the first to hear about our news and upcoming special events regarding our child care and early childhood education, in general.</P>
      <div class="mb-3" style="width: 60%;">
      <label for="exampleInputEmail1" class="form-label">Email Address :</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
         <div>
          <button class="signup-button">Sign Up</button></div> 
    </section>
<footer class="container mt-3">
  <p>LOCATION: Kabalagala</p>
  <p>CONTACT:0123456789</p>
  <p>EMAIL:daystardaycare@gmail.com</p>
    <p> &copy; 2024 daystar. All rights Reserved</p>

</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
</body>
</html>
