nav.dash
  ul
    li
      a(href='/admindashboard') Dashboard
    li
      a(href='/register') Register Baby
    li
      a(href='/Reg') Register Sitter
    li
      a(href='/babylist') Babies
    li
      a(href='/checkedInBabies') Babies Checked-in
    li
      a(href='/checkedout') Babies Checked-out
    li
      a(href='/sitterlist') Sitters
    li
      a(href='/sitterschecked') Sitters Checked-in
    li
      a(href='/sitterscheckedout') Sitters Checked-out
    a.btn.btn-primary(href='/logout' role='button') LOGOUT
    br
    li
      a(href='/dollAdd') Add Doll
    li
      a(href='/dollsList') Doll stall 
    li
      a(href='/purchaseAdd') Add Purchases
    li
      a(href='/purchasesList') Purchases
    //- li
      //- a(href='/financialReport') Accounts Report
